@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
}

.cursor-dot {
  width: 12px;
  height: 12px;
  background-color: #FFD60A;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Smooth Scroll setup */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Text Stroke Utility */
.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}

.text-gradient {
  background: linear-gradient(to right, #FFFFFF, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}